body {
	background-color: #f9f4fc;
	font-family: Arial, sans-serif;
	margin: auto;
	max-width: 750px;
}

@media (max-width: 800px) {
	body {
		max-width: 100%;
		margin: auto 25px;
	}
}

#navbar {
	background-color: #e6b6cd;
	padding: 5px;
}

#navbar li {
	display: inline;
}

#navbar a {
	color: #73475c;
	padding: 5px;
	text-decoration: none;
}

#navbar a:hover {
	color: #2e0a1c;
}

#picture {
	float: left;
	margin-right: 16px;
}

#picture img {
	height: 275px;
	width: 235px;
}

@media (max-width: 800px) {
	#picture {
		float: none;
		margin: auto;
		text-align: center;
	}
}

#main-picture {
	margin: auto;
	text-align: center;
}

#main-picture img {
	height: 550px;
	width: 470px;
}
