body {
	background-color: #f9f4fc;
	font-family: sans-serif;
	margin: auto;
	max-width: 750px;
}

#navbar {
	background-color: #e6b6cd;
	padding: 5px;
}

#navbar li {
	display: inline;
}

#navbar a {
	color: #73475c;
	padding: 5px;
	text-decoration: none;
}

#navbar a:hover {
	color: #2e0a1c;
}
